@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Links uteis</h3>

<p>
    <ul>
        <li>
            <a href="https://portal.azure.com/">Azure</a>
        </li>
        <li>
            <a href="https://luis.ai/">LUIS</a>
        </li>
        <li>
            <a href="https://qnamaker.ai/">QnA Maker</a>
        </li>
        <li>
            <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/tutorials/integrate-qnamaker-luis">Use bot with QnA Maker and LUIS to distribute your knowledge base</a>
        </li>
        <li>
            <a href="https://github.com/xambaoms/LuisQnABot">GitHub</a>
        </li>
        
    </ul>
</p>
