@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Web Chat</h2>
        <iframe src='https://webchat.botframework.com/embed/bot-LuisQnaBot?s=ML9ZeCBv2VU.cwA.8NI.YARewCbU8QJj42Ua-Br93UxYOEuwOyu5qqKilZYvUuc' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
   
    <div class="col-md-3">
        <h2>Skype</h2>
        <a href='https://join.skype.com/bot/ad6a5139-8877-408b-a075-495e90bacf9b'><img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>
    </div>
    <div class="col-md-3">
        <h2>Teams</h2>
        <a href='https://teams.microsoft.com/l/chat/0/0?users=28:ad6a5139-8877-408b-a075-495e90bacf9b'><img src='https://dev.botframework.com/Client/Images/Add-To-MSTeams-Buttons.png' /></a>
    </div>
</div>
