@model CoreBotLuisQna.Table.Luis.LuisEntity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LuisEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="PartitionKey" type="hidden" />
            <input asp-for="RowKey" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppId" class="control-label"></label>
                <input asp-for="AppId" class="form-control" readonly="readonly"/>
                <span asp-validation-for="AppId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostRegion" class="control-label"></label>
                <input asp-for="HostRegion" class="form-control" />
                <span asp-validation-for="HostRegion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
